/* Carousel Control */
.control-box {
  text-align: right;
  width: 100%;
}
.carousel-control{
  background: #666;
  border: 0px;
  border-radius: 0px;
  display: inline-block;
  font-size: 34px;
  font-weight: 200;
  line-height: 18px;
  opacity: 0.5;
  padding: 4px 10px 0px;
  position: static;
  height: 30px;
  width: 15px;
}

body{
padding: 0;
}
.navbar{
margin-bottom: 0
}
body.admin-menu{
.header-top{
    top:28px;
}
}
.header-top{
    position: fixed;
    z-index: 100;
    top:0;
    left: 0;
    width:100%;
    color: #fff;
    background-color: #333;
    height: 52px;
    .topbarLeft{
      padding-top: 5px;
      padding-bottom: 3px;
      .headerOpenTime,
      .headerTelephone{
        margin-right: 15px;
        padding: 10px 0;
        display: inline-block;
        vertical-align: middle;
        line-height: 22px;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
      }
      i{
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        font-size: 16px;
        margin-top: -2px;
      }
    }
    .topbarRight{
      padding-top: 5px;
      padding-bottom: 3px;
      text-align: right;
       i{
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          font-size: 16px;
          margin-top: -2px;
        }
        .headerCard{
            margin-right: 15px;
            padding: 10px 0;
            display: inline-block;
            vertical-align: middle;
            line-height: 0px;
            padding-top: 16px;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
        }
        #block-commerce-cart-cart{
           .line-item-summary{
              display: inline-block;
            }
            .line-item-quantity{
              float: none;
            }
            .line-item-quantity-label{
              display: none;
            }
          a{
            color: #fff;
          }
        }
    }
}
.navbar-inner{
border: none;
box-shadow: none!important;
}
body.admin-menu{
  .header-nav{
    margin-top: 52px;
  }
}
.header-nav{
   margin-top: 52px;
   padding:15px 0;
  .menu.nav{
     margin: auto;
     float: none;
     text-align:center;
     a{
        background-color: transparent!important;
        padding: 10px 13px 10px;
        line-height: 22px;
        font-size: 14px;
        font-weight: 700;
        box-shadow: none;
        text-transform: uppercase;
        -webkit-transition: all 350ms ease-out;
        transition: all 350ms ease-out;
        &.active{
         color: #ff7473;
        }
        &:hover{
          background-color: transparent;
          color: #ff7473;
          box-shadow: none;
        }
     }
     li{
       position: relative;
       display: inline-block;
       margin: 0px;
       padding: 0px;
       float: none;
     }
  }
}
#search-block-form{
  position: relative;
  top: auto;
  left: auto;
  margin-left: auto!important;
  width:220px;
 .input-append{
    padding-right: 0
  }
input{
    max-width: 80%;
    padding: 6px 22px 6px 0;
    height: 42px;
    border-bottom: 2px solid #f4f4f4;
    font-style: normal;
    line-height: 30px;
    border-radius: 0;
    border: none;
    font-size: 13px;
    color: #000;
    -webkit-box-shadow: none;
    box-shadow: none;
}
}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.slider-container{
height: 700px;
}
.slideshow-wrapper{
position: relative;
.text-overlay{
position: absolute;
bottom: 20px;
right: 20px;
color: black;
}
}
.bg-image{
    height: 100%;
    background-image: url('/sites/all/themes/dieta4u/image/bg-2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    background-position: -30px;
}

body.front.admin-menu .main-container.container{
  margin-top: 150px;
}

body.front{
  .main-container.container{
    margin-top: 122px;
  }
  article.node-product{
    header{display: none}
  }
  .field-name-field-product-image .field-items .field-item {display: none;}
  .field-name-field-product-image .field-items .field-item:first-of-type {display: block;}
  .commerce-product-title-label,.commerce-product-status-label{display: none}
  .commerce-add-to-cart{
    .attribute-widgets{display: none}
  }
}