
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url("/sites/all/themes/dieta4u/fonts/Roboto/Roboto-Thin.ttf")
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("/sites/all/themes/dieta4u/fonts/Roboto/Roboto-Light.ttf")
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('/sites/all/themes/dieta4u/fonts/Roboto/Roboto-Regular.ttf')
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/sites/all/themes/dieta4u/fonts/Roboto/Roboto-Bold.ttf')
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('/sites/all/themes/dieta4u/fonts/Roboto/Roboto-Black.ttf')
}

/* Carousel Control */
.control-box {
  text-align: right;
  width: 100%;
}
.carousel-control{
  background: #666;
  border: 0px;
  border-radius: 0px;
  display: inline-block;
  font-size: 34px;
  font-weight: 200;
  line-height: 18px;
  opacity: 0.5;
  padding: 4px 10px 0px;
  position: static;
  height: 30px;
  width: 15px;
}

body{
  padding: 0;
  background-color: #f5f5f5;
}
.breadcrumb{
  background-color: transparent;
}
.navbar{
margin-bottom: 0
}
body.admin-menu{
.header-top{
    top:28px;
}
}
.header-top{
    position: fixed;
    z-index: 100;
    top:0;
    left: 0;
    width:100%;
    color: #fff;
    background-color: #333;
    height: 70px;
    padding: 12px 0;
    .topbarRight{
      line-height: 44px;
      padding-top: 0;
      padding-bottom: 3px;
      padding-right: 0px;
      text-align: right;
       i{
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          font-size: 16px;
          margin-top: -2px;
        }
        .headerCard{
            display: inline-block;
            vertical-align: middle;
         //   line-height: 0px;
        }
      .separate{
        float: left;
        height: 38px;
        margin-top: 4px;
        padding-right: 40px;
        font-size: 0;
        border-left: 1px solid rgba(255, 255, 255, 0.1);
      }
        #block-commerce-cart-cart{
          padding-left: 35px;
           .line-item-summary{
             display: inline-block;
             padding-left: 5px;
            }
            .line-item-quantity-raw{
              border-radius: 20px;
              background: #eb6453;
              display: block;
              line-height: 23px;
              min-width: 24px;
              text-align: center;
            }
            .line-item-quantity{
              float: none;
            }
            .line-item-quantity-label{
              display: none;
            }
          a{
            color: #fff;
          }
        }
    }
}
.navbar .logo{
  margin: 0;
}
.region-top-bar-right{
  section{
    display: inline-block;
  }
  .headerOpenTime,.headerTelephone{
    display: inline-block;
    font-family: 'Roboto';
    font-size: 13px;
    letter-spacing: 0.8px;
    a{
      color:white;
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .headerCard span{
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.8px;
  }
  .headerOpenTime{
    padding-right: 35px;
  }
  .icon{
    display: inline-block;
    padding-right: 6px;
    img{
      padding-bottom: 3px;
    }
  }
  .text{
    display: inline-block;
  }
}
.navbar-inner{
border: none;
box-shadow: none!important;
  background: white!important;
}
body.admin-menu{
  .header-nav{
    margin-top: 70px;
  }
}
.header-nav{
   background-color: white;
   margin-top: 70px;
   padding:15px 0;
   border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .menu.nav{
     margin: auto;
     float: none;
     text-align:center;
     a{
        background-color: transparent!important;
        padding: 10px 13px 10px;
        line-height: 22px;
        font-size: 14px;
        font-weight: 700;
        box-shadow: none;
        text-transform: uppercase;
        -webkit-transition: all 350ms ease-out;
        transition: all 350ms ease-out;
        &.active{
         color: #eb6453;
        }
        &:hover{
          background-color: transparent;
          color: #eb6453;
          box-shadow: none;
        }
     }
     li{
       position: relative;
       display: inline-block;
       margin: 0px;
       padding: 0px;
       float: none;
       a{
         font-family: 'Roboto';
         font-size: 15px;
         font-weight: 600;
         text-shadow: none;
       }
     }
  }
}
.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle{
  color: #333333;
}
#search-block-form{
  position: relative;
  top: auto;
  left: auto;
  margin-left: auto!important;
  width:220px;
 .input-append{
    padding-right: 0
  }
input{
    max-width: 80%;
    padding: 6px 22px 6px 0;
    height: 42px;
    border-bottom: 2px solid #f4f4f4;
    font-style: normal;
    line-height: 30px;
    border-radius: 0;
    border: none;
    font-size: 13px;
    color: #000;
    -webkit-box-shadow: none;
    box-shadow: none;
}
}
.no-padding{
    padding-left: 0;
    padding-right: 0;
}
.slider-container{
height: 600px;
  a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    font-family: 'Roboto';
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.9px;
    padding-right: 31px;
    &:hover{
      text-decoration: none;
    }
    background: url("/sites/all/themes/dieta4u/image/icon/arrow-right.png") right center no-repeat;
  }
}
.bannesliderright{
  position: relative;
  .text-overlay{
      padding-bottom: 3px;
      position: absolute;
      bottom: 40px;
      left: 33px;
      color: #333333;
      text-decoration: none;
      border-bottom: 2px solid #333333;
      text-transform: uppercase;
      font-family: 'Roboto';
      font-size: 13px;
      font-weight: 900;
      letter-spacing: 0.9px;
    }
}
.slideshow-wrapper{
position: relative;
.text-overlay{
position: absolute;
  bottom: 58px;
  left: 60px;
}
}
.bg-image{
    height: 100%;
    background-image: url('/sites/all/themes/dieta4u/image/main_banner_1.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}
.glyphicon-shopping-cart{
  background: url("/sites/all/themes/dieta4u/image/icon/icon_cart.png") no-repeat;
  width: 24px;
  height: 20px;
  margin-right: 8px!important;
  margin-top: -4px!important;
  &::before{
    display: none;
  }
}

.ui-icon{
  width: 12px;
  height: 7px;
}

.ui-widget-content{
  border: none;
}
.ui-icon-triangle-1-s{
  background-position: -65px -16px;
}

.ui-icon, .ui-widget-content .ui-icon{
  background-image: url("/sites/all/themes/dieta4u/image/icon/cart-count-icon.png");
  background-repeat: no-repeat;
  display: block;
  text-indent: -99999px;
}

.ui-widget-content .ui-button-text{
  display: inline-block;
}

.ui-icon-triangle-1-n{
  background-position: -12px 0px;
  &:hover{
    background-position: 0px 0px;
  }
}

.ui-icon-triangle-1-s{
  background-position: -12px -8px;
  &:hover{
    background-position: 0px -8px;
  }
}

.ui-spinner-up span,
.ui-spinner-down span{
  cursor: pointer;
}

body.front.admin-menu .main-container.container{
  margin-top: 170px;
  padding-top: 0;
}

body.front{
  .main-container.container{
    margin-top: 118px;
  }
  article.node-product{
    header{display: none}
  }
  .field-name-field-product-image .field-items .field-item {display: none;}
  .field-name-field-product-image .field-items .field-item:first-of-type {display: block;}
  .commerce-product-title-label,.commerce-product-status-label{display: none}
  .commerce-add-to-cart{
    .attribute-widgets{display: none}
  }
}

.view-top-products-slider,
.view-catalog{
  margin-top: 20px;
  .row{
    margin-bottom: 30px;
  }
  .products{
    .node-product{
      border: 1px solid #e5e5e5;
      background-color: white;
      &:hover{
        -webkit-box-shadow: 0px 0px 23px 3px rgba(0, 0, 0, 0.29);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
        -moz-box-shadow:    0px 0px 23px 3px rgba(0, 0, 0, 0.29);  /* Firefox 3.5 - 3.6 */
        box-shadow:         0px 0px 23px 3px rgba(0, 0, 0, 0.29);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */

        .commerce-add-to-cart{
          max-height: 200px;
        }
      }
    }
    .detail{
      padding: 10px 15px;
    }
    input[name=quantity]{
      width: 56px!important;
      height: 41px;
      border-radius: 2px;
      border: 2px solid rgba(0, 0, 0, 0.1);
      box-shadow: none;
      text-align: center!important;
      float: left;
      margin-right: 9px;

      font-family: 'Roboto';
      font-size: 18px;
      font-weight: 400;
    }
    .control-label{
      display: none;
    }
    .ui-spinner-button{
      display: block;
      //margin-top: 9px;
    }
    .ui-spinner-button.ui-spinner-up{
      margin-top: 9px;
    }
    .form-item-quantity{
      .controls{
        float: left;
        width: 80px;
      }
    }
    .commerce-product-title{
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      min-height: 48px;
      color:#333333;
    }
    .field-name-commerce-price{
      .field-item{
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 500;
        color:#666666;
      }
    }
    .field-name-field-product-form{
      width: 20px;
      margin-right: 15px;
    }
    .commerce-product-status{
      float: right;
    }
    .field-name-field-count-in-box,
    .field-name-field-product-form,
    .commerce-product-status{
      display: inline-block;
    }
    .commerce-product-title{
      margin-bottom: 20px;
    }
    .field-name-commerce-price{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .field-name-field-count-in-box{
      color: #666666;
      font-family: 'Roboto';
      font-size: 14px;
      font-weight: 300;
    }
    .commerce-product-status{
      .active{
        background: url("/sites/all/themes/dieta4u/image/icon/active.png") center left no-repeat;
        padding-left: 30px;
        height: 20px;
        color: #666666;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
      }
      .disabled{
        background: url("/sites/all/themes/dieta4u/image/icon/disabled.png") center left no-repeat;
        padding-left: 30px;
        height: 20px;
        color: #666666;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
      }
    }
    .commerce-add-to-cart{
      max-height: 0;
      overflow: hidden;
      margin-bottom: 0;

      /* Set our transitions up. */
      -webkit-transition: max-height 0.5s;
      -moz-transition: max-height 0.5s;
      transition: max-height 0.5s;

      .form-button-disabled{
        display: none;
      }
      button.form-submit{
        border: 2px solid #eb3f29;
        border-radius: 2px;
        background-color: transparent;
        color:#eb3f29;
        width: 130px;
        height: 40px;
        padding-left: 40px;
        margin-top: 0px;
        float: right;
        margin-right: 13px;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        background: url("/sites/all/themes/dieta4u/image/icon/icon_cart_red.png") 8px center no-repeat;
      }
    }
  }
}

.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
  background-color: white;
  border: 1px solid #e5e5e5;
  &:last-of-type{
    border-left: none;
  }
}

.delivery-container {
  margin-top: 65px;
  .img-container {
    position: relative;
    overflow: hidden;
    border-top: 1px solid  #e5e5e5;
  }
  .col-md-6{
    &:first-of-type{
      padding-right: 0;
    }
    &:last-of-type{
      padding-left: 0;
    }
  }
  .wrapper {
    &.right {
      padding: 22px 60px;
      div{margin-bottom: 45px}
      p,a {
        font-size: 23px;
        font-weight: 300;
        padding-left: 40px;
        color: #666666;
        text-decoration: none;
        &:hover{
          text-decoration: none;
        }
      }
      a{cursor: pointer}
      span{
        margin-bottom: 15px;
      }
    }
    padding-left: 60px;
  }
  h2{
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 300;
    color: #333333;
    margin-top: 50px;
    &.with-bottom-margin {
      margin-bottom: 70px;
    }
  }
  span{
    font-weight: bold;
    &.shedule{
      background: url("/sites/all/themes/dieta4u/image/icon/icon_schedule.png") left center no-repeat;
      padding-left: 40px;
    }
    &.telephone{
      background: url("/sites/all/themes/dieta4u/image/icon/icon_phone.png") left center no-repeat;
      padding-left: 40px;
    }
    &.email{
      background: url("/sites/all/themes/dieta4u/image/icon/mail_icon.png") left center no-repeat;
      padding-left: 40px;
    }
  }
  .col-md-6:first-of-type{
    span{
      position: absolute;
      bottom: 22px;
      left: 22px;
      color: white;
      text-transform: uppercase;
      font-family: 'Roboto';
      font-size: 14px;
      line-height: 24px;
    }
    p{
      margin-top: 20px;
      margin-bottom: 50px;
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: 300;
      line-height: 23px;
      color: #333333;
    }
  }
  .col-md-6:last-of-type{
    span{
      text-transform: uppercase;
      font-family: 'Roboto';
      font-size: 14px;
      line-height: 24px;
      display: block;
    }
    a{
      display: block;
    }
    p{
      display: block;
    }
  }
}

.footer{
  padding: 26px 0 26px;
  border:none;
  background-color: #313031;
  .col-md-6{
    padding:0;
  }
  .copyright{
    font-family: 'Roboto';
    color: #c9c9c9;
    font-weight: 300;
    font-size: 16px;
  }
  .social{
    text-align: right;
    a{
      padding: 0 11px;
      &:last-of-type{
        padding-right: 0;
      }
    }
  }
}

body.admin-menu .commerce-add-to-cart .ui-spinner-button{
  margin-top: 10px;
}

body.node-type-product{
  h1{
    margin-top: 0;
    margin-bottom: 55px;
    color: #333333;
    font-family: 'Roboto';
    font-size: 32px;
    font-weight: 300;
  }
  .main-container.container{
    margin-top: 138px;
  }
  &.admin-menu{
    .main-container.container{margin-top: 165px};
  }
  .breadcrumb{
    background-color: transparent;
  }
  .easy-breadcrumb{
    margin-left: 25px;
    padding: 25px 0;
  }
  .row-fluid.wrapper{
    background-color:white;
  }
  .field-slideshow-wrapper{
    margin-left: 11px;
    ul{list-style: none;float: left;margin: 0}
    li{float: none;margin-bottom: 10px;margin-right: 14px}
  }
  .field-label{
    font-family: 'Roboto';
    color: #666666;
    font-size: 16px;
    font-weight: 300;
  }
  .field-name-field-product-country,
  .field-name-field-product-form,
  .field-name-field-count-in-box{
    .field-items{
      float: none;
      margin-top: 10px;
    }
    .field-label{
      font-family: 'Roboto';
      float: none;
    }
    .field-item{
      font-family: 'Roboto';
      font-size: 18px;
      color:#666666;
      font-weight: 500;
    }
  }
  .field-slideshow-wrapper.one{
    margin-left: 70px;
  }
  .description{
    padding-left: 109px;
    margin-top: 60px;
    .field-name-field-product-description{
      .field-label{
        font-size: 24px;
        color:#333333;
        margin-bottom: 30px;
      }
      p{
        font-family: 'Roboto';
        color:#666666;
        font-size: 16px;
        font-weight: 300;
        line-height: 150%;
      }
    }
  }
  .commerce-product-status{
    .commerce-product-status-label{display: none}
    .active{
      background: url(/sites/all/themes/dieta4u/image/icon/active.png) center left no-repeat;
      padding-left: 30px;
      height: 20px;
      color: #666666;
      font-family: 'Roboto';
      font-size: 14px;
      font-weight: 300;
      line-height: 18px;
    }
  }
  .form-item-quantity{
    min-width: 120px;
    margin-left: 70px;
    margin-right: 22px;
    overflow: hidden;
    float: left;
    margin-top: 8px;
    .control-label{display: none}
  }
  input[name=quantity]{
    width: 70px;
    height: 51px;
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: none;
    text-align: center;
    float: left;
    margin-right: 21px;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
  }
  .group-wpapper.field-group-two-fields{
    float: left;
  }
  .field-name-commerce-price{
    margin-top: 20px;
    margin-bottom: 20px;
    .field-label{
      display: none;
    }
    .field-items{
      font-family: 'Roboto';
      font-size: 24px;
      font-weight: 500;
      color: #666666;
    }
  }
  .commerce-add-to-cart{
    .ui-spinner-button{
      display: block;
    }
    .ui-spinner-up{
      margin-top: 0;
      padding-top: 14px;
    }

    .form-submit{
      outline: none!important;
      border: 2px solid #eb3f29;
      border-radius: 2px;
      background-color: transparent;
      color: #eb3f29;
      width: 161px;
      height: 51px;
      padding-left: 40px;
      margin-top: 0;
      margin-right: 13px;
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 10px;
      background: url(/sites/all/themes/dieta4u/image/icon/icon_cart_red.png) 21px center no-repeat;
    }
    .form-button-disabled{
      display: none;
    }
  }
}

.main-container.container{
  margin-top: 170px;
  padding-top: 25px;
  padding-bottom: 25px;
}
&.admin-menu{
  .main-container.container{margin-top: 200px};
}

body.page-catalog{
  .main-container.container{
    margin-top: 117px;
  }
  &.admin-menu{
    .main-container.container{margin-top: 145px};
  }

  .node-product{
    h2{
      display: none;
    }
  }
  .view-filters form{
    margin-bottom: 0;
  }
  .commerce-product-title-label,.commerce-product-status-label{display: none}
  .views-exposed-form{
    .row{
      margin-bottom: 10px;
    }
    .form-item-sort-by{
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: center;
      align-items: center;
      justify-content: center;
    }
    .views-widget-filter-title{
      label{display: none;}
    }
    .views-widget-sort-by{
      label{color:#333333;font-size: 14px;font-weight: bold; font-family: 'Roboto';text-transform: uppercase;padding-right: 20px}
      .controls{}
    }
    .form-submit{
      margin-top: 0;
    }
    .controls{
      div.nice-select{
        width: 235px;
        border-radius: 2px;
        span{
          font-family: 'Roboto';
          font-size: 16px;
          font-weight: 300;
        }
        &::after{
          width: 7px;
          height: 7px;
          border-color:#333333;
        }
      }
      ul{
        width: 100%;
        margin-left: 0;
        border-radius: 2px;
        li{
          font-family: 'Roboto';
          font-size: 16px;
          font-weight: 300;
          &.selected{
            font-weight: 400;
          }
        }
      }
    }
    .widget-wrapper{
      label{
        display: none;
      }
      position: relative;
      .views-widget-filter-title{
        float: none;
        width: 100%;
        input{
          width: 100%;

          -webkit-tap-highlight-color: transparent;
          background-color: #fff;
          border: solid 1px #e8e8e8;
          box-sizing: border-box;
          clear: both;
          cursor: pointer;
          display: block;
          float: left;
          font-family: 'Roboto';
          font-weight: 300;
          font-size: 14px;
          height: 42px;
          line-height: 40px;
          outline: none;
          padding-left: 18px;
          padding-right: 30px;
          position: relative;
          text-align: left;
          border-radius: 2px;
        }
      }
      .views-submit-button{
        position: absolute;
        right: 0;
        top:0;
        button{
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          width: 42px;
          height: 42px;
          background: #eb6453 url("/sites/all/themes/dieta4u/image/icon/search-icon.png") no-repeat center center;
        }
      }
    }
  }

}

.page-node-19{
  .main-container{
    background-color:white;
  }
  h1{
    font-family: 'Roboto';
    text-align: center;
    color: #333333;
    font-size: 36px;
    border-bottom: none;
  }
table{
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #333333;
  margin: 0 auto;
  overflow: hidden;
  float: none;
  border: none;
  tbody{border-color: #e6e6e6;}
  td{padding: 15px 40px;border-color: #e6e6e6;}
  tr{border-color: #e6e6e6;}
}
  .link-container{
    max-width: 490px;
    margin: 45px auto;
    a{
      display: inline-block;
      padding: 10px 15px;
      border: 2px solid #eb3f29;
      border-radius: 2px;
      background-color: transparent;
      color: #eb3f29;
      width: 200px;
      height: 40px;
      margin-top: 0;
      font-family: 'Roboto';
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      &:last-of-type{
        float:right;
      }
    }
  }

}
body.node-type-webform,
body.node-type-page{
  .easy-breadcrumb{
    margin-left: 25px;
    padding: 25px 0;
  }
}
.page-node-20{
  .main-container{
    background-color:white;
  }
  h1{
    font-family: 'Roboto';
    text-align: center;
    color: #333333;
    font-size: 36px;
    border-bottom: none;
  }
.node-webform{
  header{
    display: none;
  }
  form{
    max-width: 500px;
    margin: 0 auto;
    input,textarea{
      width: 100%;
      border-color: #e6e6e6;
      border-radius: 2px;
      font-family: 'Roboto';
      font-size: 14px;
      font-weight: 300;
      color: #333333;
      padding: 18px;
    }
    input{
      height: 48px;
    }
    button{
      display: block;
      margin: 15px auto;
      margin-top: 35px;
      padding: 10px 15px;
      border: 2px solid #eb3f29;
      border-radius: 2px;
      background-color: transparent;
      color: #eb3f29;
      width: 200px;
      height: 40px;
      font-family: 'Roboto';
      font-size: 14px;
      line-height: 14px;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
}
.page-node-21{
  h1{
    margin: 140px auto;
    font-family: 'Roboto';
    text-align: center;
    color: #333333;
    font-size: 28px;
    font-weight: 300;
    border-bottom: none;
  }
}
.page-node-22{
  .main-container{
    background-color:white;
  }
  h1{
    font-family: 'Roboto';
    text-align: center;
    color: #333333;
    font-size: 36px;
    border-bottom: none;
  }
  table{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #333333;
    margin: 0 auto;
    overflow: hidden;
    float: none;
    border-color: #e6e6e6;
    border:none;
    tbody{border-color: #e6e6e6;}
    td,th{padding: 15px 40px;border-color: #e6e6e6;}
    tr{border-color: #e6e6e6;}
  }
}

#block-easy-breadcrumb-easy-breadcrumb{
  .easy-breadcrumb{
    a,span{
      color: #999999;
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: 300;
      &:hover{
        text-decoration: none;
        color: #999999;
      }
    }
    .easy-breadcrumb_segment-separator{
      padding: 0 19px;
    }
  }
}

// Cart style
.page-cart,
.page-checkout{
  .field-name-field-spiping-ttn{display: none}
  h1{
    font-family: 'Roboto';
    text-align: center;
    color: #333333;
    font-size: 36px;
    border-bottom: none;
  }
  .view-header{
    h2{
      font-family: 'Roboto';
      font-size: 21px;
      font-weight: 300;
      line-height: 24px;
      color: #666666;
      margin-left:6px;
    }
  }
  .view-commerce-cart-form,
  .view-commerce-cart-summary{
    table{
      font-family: 'Roboto';
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      color: #333333;
      border-bottom: 1px solid #dddddd;
      margin-bottom: 0px;
      thead{
        border-bottom: 1px solid #333333;
      }
      th{
        text-transform: uppercase;
        color:#999999;
        font-size: 12px;
        font-weight: 400;
        border: none;
        padding: 12px 8px;
      }
      td{vertical-align: middle;padding: 20px 8px;}
      .views-field-field-product-image,
      .views-field-line-item-title{
        display: inline-block;
      }

      .views-field-line-item-title{
        a{
          padding-left: 20px;
          color: #666666;
          font-family: 'Roboto';
          font-size: 18px;
          font-weight: 300;
          line-height: 24px;
          &:hover{
            color: #666666;
            text-decoration: none;
          }
        }
      }
      td.views-field-commerce-unit-price,
      td.views-field-commerce-total{
        font-weight: 500;
        color: #666666;
        font-family: 'Roboto';
        font-size: 17px;
        line-height: 24px;

      }
      .delete-line-item.btn.form-submit{
        width: 28px;
        height: 28px;
        transition: background-image 150ms ease-in-out;
        background: url('/sites/all/themes/dieta4u/image/icon/icon_delete.png') no-repeat center center;
        &:hover{
          background: url('/sites/all/themes/dieta4u/image/icon/icon_delete_active.png') no-repeat center center;
        }
      }
    }
    .line-item-summary{
      text-align: left;
      display: inline-block;
      width: 49%;
      .line-item-total-label{
        font-family: 'Roboto';
        color: #666666;
        font-size: 24px;
        font-weight: 100;
      }
      .line-item-total-raw{
        font-family: 'Roboto';
        color: #666666;
        font-size: 21px;
        font-weight: 400;
      }
    }
    .commerce-line-item-actions{
      width: 50%;
      display: inline-block;
      border: none;
    }
    .form-actions.commerce-line-item-actions{
      .btn.btn-info.form-submit{
        outline: none !important;
        border: 2px solid #137b42;
        border-radius: 2px;
        background-color: transparent;
        color: #137b42;
        width: 180px;
        height: 51px;
        margin-right: 25px;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
      }
      .btn.form-submit{
        outline: none !important;
        border: 2px solid #eb3f29;
        border-radius: 2px;
        background-color: transparent;
        color: #eb3f29;
        width: 180px;
        height: 51px;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
      }
    }
    .views-field-edit-quantity{
      .controls{
        float: left;
        width: 80px;
      }
      input{
        width: 56px;
        height: 41px;
        border-radius: 2px;
        border: 2px solid rgba(0, 0, 0, 0.1);
        box-shadow: none;
        text-align: center;
        float: left;
        margin-right: 9px;
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 400;
      }
      .ui-spinner-button{
        display: block;
        margin-top: 9px;
      }
    }
  }
  .view-commerce-cart-summary{
    td.views-field-quantity{
      font-weight: 500;
      color: #666666;
      font-family: 'Roboto';
      font-size: 17px;
      line-height: 24px;
      padding-left: 40px;
    }
  }

  .customer_profile_billing{
    margin-top: 50px;
    legend{
      border-bottom: none;
    }
    .fieldset-legend{
      font-family: 'Roboto';
      font-size: 21px;
      font-weight: 300;
      line-height: 24px;
      color: #666666;
    }
  }
  #edit-account{
    legend{
      display: none;
        }
  }
  #edit-customer-profile-billing{
    legend{
      margin-bottom:  35px;
    }
    .field-name-field-biling-f,
    .field-name-field-biling-name,
    .field-name-field-biling-o,
    .field-name-field-biling-telephone,
    .field-name-field-biling-city{
      float:left;
    }

    .field-name-field-biling-city{
     #autocomplete{
       width: auto!important;
       padding: 18px;
       background: white;
       li{
         cursor: pointer;
         color: #555555;
         background: transparent;
         font-family: 'Roboto';
         font-size: 18px;
         line-height: 100%;
         font-weight: 300;
         margin-bottom: 10px;
         &:last-of-type{
           margin-bottom: 0;
         }
         &:hover{
           color: black;
         }
       }
     }
    }
    .field-name-field-biling-o{
     float: none;
    }
    .field-widget-text-textfield,
    .field-widget-phone-textfield,
    .field-widget-taxonomy-autocomplete{
      input{
        width: 230px;
        height: 50px;
        border-radius: 2px;

        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 400;
        padding: 18px;
        margin-right: 22px;
        &.error{
          margin-bottom: 0;
        }
      }
    }
    .control-label{
      font-family: 'Roboto';
      margin-left: 3px;
      color:#333333;
    }
    .field-widget-taxonomy-autocomplete{
      input{
        background-position: 98%;
      }
    }
  }
  .form-item-account-login-mail{
    label{
      font-family: 'Roboto';
      margin-left: 3px;
      color:#333333;
    }
    input{
      width: 230px;
      height: 50px;
      border-radius: 2px;

      font-family: 'Roboto';
      font-size: 18px;
      font-weight: 400;
      padding: 18px;
      margin-right: 22px;
    }
  }
  input.error{
    background: #ffdfdb;

    border-color: #eb3f29;
    border-left: 5px;
    border-right: 0;
    border-top:0;
    border-bottom: 0;
  }
  label.error{
    display: block;
    color: #eb3f29;

    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 300;
  }
  #edit-customer-profile-shipping{
    legend{display: none}
    .nice-select.form-select{
      width: 482px;
      height: 50px;
      border-radius: 2px;
      padding: 18px;
      border: 1px solid #cccccc;
      margin-bottom: 5px;

      font-family: 'Roboto';
      font-size: 18px;
      font-weight: 400;
      line-height: 10px;
    }
    .nice-select.open .list{
      margin-left: 0;
      margin-top: 0;
      width: 480px;
      border-radius: 0;
    }
  }
  .field-name-field-shipping-methode{
    float: left;
    margin-right: 22px;
    p.help-block{max-width: 320px;line-height: 13px;}
  }
  .field-name-field-shipping-number{
    .controls label{margin-left: 505px}
    input{
      width: 230px;
      height: 50px;

      border-radius: 2px;
      font-family: 'Roboto';
      font-size: 18px;
      font-weight: 400;
      line-height: 10px;
      &.error{
        margin-bottom: 0;
      }
    }
  }

  .field-name-field-shipping-adress{
    .controls label{margin-left: 505px}
    input{
      width: 230px;
      min-height: 50px;
      padding: 13px 18px;

      border-radius: 2px;
      font-family: 'Roboto';
      font-size: 18px;
      font-weight: 400;
      //line-height: 10px;
      &.error{
        margin-bottom: 0;
      }
    }
  }
  .customer_profile_shipping{
    margin-top: 16px;
  }
}

.page-checkout{
  .checkout-buttons{
    hr{
      border-top:2px solid #999999;
    }
.line-item-total-label{
  font-family: 'Roboto';
  color: #666666;
  font-size: 24px;
  font-weight: 100;
}
    .line-item-total-raw{
      font-family: 'Roboto';
      color: #666666;
      font-size: 21px;
      font-weight: 400;

    }
    .description{
      color:#666666;
      font-family: 'Roboto';
      font-size: 12px;
      display: block;
      margin-top: 7px;
      font-weight: 300;
      line-height: 100%;
    }
    button{
      float: right;
      outline: none !important;
      border: 2px solid #eb3f29;
      border-radius: 2px;
      background-color: transparent;
      color: #eb3f29;
      width: 180px;
      height: 51px;
      font-family: 'Roboto';
      font-size: 14px;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
    }
    .left-side{
      float: left;
    }
  }
}

#commerce-checkout-form-checkout{
#edit-cart-contents{
  legend{
    text-align: center;
    font-family: 'Roboto';
    color: #333333;
    font-size: 36px;
    border-bottom: none;
  }
}
  //.button-operator{display: none}
  //.checkout-cancel.btn.form-submit{display: none}
}
